<div class="container mt-5">
  <h1 class="mb-4 text-center">Welcome to Country Dishes</h1>
  <div class="row justify-content-center">
    <div class="col-md-10">
      <%= form_with(url: root_path, method: :get, local: true) do |form| %>
        <div class="input-group mb-3">
          <%= form.text_field :search, value: params[:search], class: 'form-control', placeholder: 'Search favorite dishes or ingredients...', id: 'search_input' %>
          <%= form.collection_select :country, @countries, :id, :name, { include_blank: 'Select a Country' }, { class: 'form-select' } %>
          <button class="btn btn-primary" type="submit" id="country_filter_button">Filter</button>
        </div>
      <% end %>
      <%= form_with(url: root_path, method: :get, local: true) do |form| %>
        <div class="input-group mb-4">
          <%= form.collection_select :region, @regions, :to_s, :to_s, { include_blank: 'All Regions' }, { class: 'form-select', selected: params[:region] } %>
          <button class="btn btn-primary" type="submit" id="filter_button">Filter</button>
        </div>
      <% end %>
      <div class="mt-4">
        <h2 class="mb-3">Favorite Dishes</h2>
        <% @fave_dishes.each do |fave_dish| %>
          <div class="card mb-3 shadow">
            <div class="card-body">
              <h5 class="card-title">
                <%= link_to fave_dish.country_dish.dish.name, fave_dish_path(fave_dish), class: 'text-decoration-none' %>
              </h5>
              <p class="card-text">
                <strong>User:</strong> <%= fave_dish.user.name %><br>
                <strong>Country:</strong> <%= fave_dish.country_dish.country.name %><br>
                <strong>Region:</strong> <%= fave_dish.country_dish.country.region %><br>
                <strong>Population:</strong> <%= fave_dish.country_dish.country.population %>
              </p>
            </div>
          </div>
        <% end %>
      </div>
      <%= paginate @fave_dishes, class: 'pagination justify-content-center mt-4' %>
    </div>
  </div>
</div>
